/*
Global styles

background: #fff;
color: #737373;
hover color: #ea6060;
Headings, titles, footers, borders{
	color: #475258;
}

font-family: 'Open Sans';


*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* Global Styles */

.footer-wrapper{
	width:100%;
	border-top: 1px solid #475258;
	margin: 2em auto;
}

.footer-wrapper ul{
	text-align: center;
}

 .footer-wrapper li{
	display: inline;
	
}

.footer-wrapper a{
	color:#475258;
	padding: 0 1.5em;
	transition:0.3s;
}

.footer-wrapper a i:hover{
	color:#ea6060;
}



/* index.html */

body{
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}

.content-wrapper{
	width:850px;
	margin: 0 auto;
	position: relative;
}

.name{
	width:100%;
	text-align: center;
	vertical-align: center;
	margin-top:180px;

	color:#4A4A4A;
	font-size: 3em;
	font-weight: 400;
}

.myname{
	transition: 0.3s;
}

.menu{
	width:100%;
	margin-top: 4em;
}

.menu ul{
	text-align: center;
}

.menu li{
	display: inline-block;
	padding:1em 2em;
}

.menu li a{
	text-decoration: none;
	color:#737373;
	font-size: 1.5em;
	transition:0.3s;
}

.menu li a:hover{
	color:#ea6060;
}

.social{
	width:100%;
	margin-top: 4em;
}

.social ul{
	text-align: center;
}

.social li{
	display: inline;
	
}

.social a{
	color:#475258;
	padding: 0 4em;
}

.social a i{
	transition: 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
}

.social a i:hover{
	color:#ea6060;
}
.contact a{
	text-decoration: none;
	color:#737373;
	padding:.4em;
	font-size: 1.3em;
}

/* about.html */

.nav{
	position:relative;
	width:100%;
	height:5em;
}

.nav-name{
	position: absolute;
	top:.5em;
	left:0;
	padding:1em;
}

.nav-name a{
	text-decoration: none;
	color:#737373;
	font-size: 2em;
	transition: 0.3s;
}

.nav-name a:hover{
	color:#ea6060;
}

.main-section{
	width:100%;
	margin-top: 6em;
	text-align:center;
}

.main-title{
	color:#4A4A4A;
	padding: 0 .3em;
	font-size: 2.5em;
	font-weight: 400;
	width:100%;
}

.about-desc-unclicked, .about-desc-clicked, .about-details-unclicked, .about-detailed-clicked{
	transition: .5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
}

.about-desc-unclicked{
	width:65%;
	margin:0 auto;
}

.about-desc-clicked{
	width:49%;
	float:left;
}

.about-details-unclicked{
	width:49%;
	height:auto;	
	float:right;
	margin-right:-1000px;
	
}

.about-details-clicked{
	width:49%;
	height:auto;
	float:right;
}

ul{
	margin:2em auto 0 auto;
}

ul li{
	text-align: left;
	color:#737373;
	font-size: .9em;
	line-height: 1.5em;
	font-weight: 400;
	padding:.5em .7em;
}

.highlight{
	cursor: pointer;
	color:#ea6060;
}

#inner-about-details{
	color:#737373;
	font-size: .9em;
	line-height: 1.5em;
	font-weight: 400;
	text-align: left;
	width:80%;
	margin:2em auto 0 auto;
	float:right;
}

/* about.html > books-sections */

#books-section{
	width:100%;
	clear:both;
}

#book-title{
	width:100%;
	color:#4A4A4A;
	padding: 1.5em .3em 0 .3em;
	font-size: 2.5em;
	font-weight: 400;
	text-align: center;
}

#book-list{
	width:100%;
}

.author{
	color:#bfbfbf;
}

#book-list ul{
	width:63%;
	margin:1em auto 0 auto;
}

.ind-books-closed{
	width:100%;
	height:2em;
	overflow: hidden;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	color:#737373;
	font-weight: 400;
	line-height: 2em;
	padding: .4em 0;
}

.ind-books-open{
	width:100%;
	height:12em;
	overflow: hidden;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	color:#737373;
	font-weight: 400;
	line-height: 2em;
	padding: .4em 0;
}

.ind-books-open, .ind-books-closed{
	transition: 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
}

.ind-books-closed:hover, .ind-books-open:hover{
	cursor:pointer;
	color:#ea6060;

}

.ind-books-list{
	width:100%;
	display: inline-block;
}

.ind-books-details{
	margin-left: 2em;
}

.ind-books-details:first-child{
	margin-bottom: .5em;
}

/* blog.html */

.blog-content{
	margin: 5em auto 0 auto;
	width:100%;
	height:400px;
}



















